name: Continuous Integration

on:
  push:
    branches:
      - master
      - release/**

  pull_request:

env:
  MIX_ENV: test

jobs:
  test:
    name: Test (Elixir ${{ matrix.elixir }}, OTP ${{ matrix.otp }})

    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # https://hexdocs.pm/elixir/compatibility-and-deprecations.html#compatibility-between-elixir-and-erlang-otp
        include:
          # Newest supported Elixir/Erlang pair.
          - elixir: '1.15'
            otp: '26.0'
            lint: true
            dialyzer: true

          # One version before the last supported one.
          - elixir: '1.14.5'
            otp: '25.3'

          # Oldest supported Elixir/Erlang pair.
          - elixir: '1.11.4'
            otp: '21.3'

    steps:
    - name: Check out this repository
      uses: actions/checkout@v3

    - name: Setup Elixir and Erlang
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version: ${{ matrix.otp }}

    # We need to manually restore and then save, so that we can save the "_build" directory
    # *without* the Elixir compiled code in it.
    - name: Restore Mix dependencies cache
      uses: actions/cache/restore@v3
      id: mix-deps-cache
      with:
        path: |
          _build
          deps
        key: |
          ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-

    - name: Install and compile Mix dependencies
      if: steps.mix-deps-cache.outputs.cache-hit != 'true'
      run: mix do deps.get, deps.compile

    - name: Save Mix dependencies cache
      uses: actions/cache/save@v3
      if: steps.mix-deps-cache.outputs.cache-hit != 'true'
      with:
        path: |
          _build
          deps
        key: |
          ${{ steps.mix-deps-cache.outputs.cache-primary-key }}

    - name: Check formatting
      if: matrix.lint
      run: mix format --check-formatted

    - name: Check compiler warnings
      if: matrix.lint
      run: mix compile --warnings-as-errors

    - name: Run tests
      run: mix test

    - name: Retrieve PLT Cache
      uses: actions/cache@v3
      if: matrix.dialyzer
      id: plt-cache
      with:
        path: plts
        key: |
          ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plts-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plts-

    - name: Create PLTs
      if: steps.plt-cache.outputs.cache-hit != 'true' && matrix.dialyzer
      run: |
        mkdir -p plts
        mix dialyzer --plt

    - name: Run dialyzer
      if: matrix.dialyzer
      run: mix dialyzer --no-check --halt-exit-status
